body{
    background-color:  hsla(14, 37%, 87%, 1);
}

#weather_app{
    background-color: hsla(184, 36%, 60%, 1);
    margin: 20px auto 20px auto;
    border-radius: 20px;
    border: 3px solid ;
    border-color: hsla(332, 16%, 52%, 1);
    width: 60%;
}

.weather_information{
    color: hsla(0, 0%, 4%, 1);
    margin: 50px auto;
    text-align: center;
}
.current_city{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsla(12, 100%, 97%, 1);
    padding-left: 8%;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
}

#temp, #wind, #hour{
    margin: 0px auto 0px auto;
    float: left;
    width: 20%;
    padding: 50px 6% 50px 6%;

}
#temp{
    font-size: 300%;
}
#wind{
    font-size: 200%;
}

#wind_icon{
    width: 40%;
    height: 50%;
}

#footer{
    clear: both;
    margin-top: 200px;
}
.city_buttons{
    margin: 5px auto 5px auto;
    text-align: center;
}
button{
    height: 50px;
    width: 25%;
    margin: 30px;
    border-radius: 15px;
    border:1px solid hsla(0, 0%, 4%, 1);;
    background-color: hsla(332, 16%, 52%, 1);
    color: hsla(12, 100%, 97%, 1);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
button:hover{
    background-color: hsla(332, 16%, 57%, 1);;
    color:hsla(12, 100%, 99%, 1);
    border-bottom: 2px solid hsla(0, 0%, 4%, 1);;
    cursor: pointer;
    margin-bottom: 29px;
    font-weight: 700;
    letter-spacing: 0.07em;
}
button:active{
    background-color: hsla(332, 16%, 42%, 1);
    border: 2px solid hsla(0, 0%, 4%, 1);;
    color: hsla(12, 100%, 87%, 1);;
}
